### Preparation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/data_train.csv", index_col=[0])

In [3]:
df

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_0,07:04:31,07:08:32,NaN,NaN,NaN,3.751014e+06,-1.909398e+07,3.750326e+06,-1.913634e+07
1,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_1,07:20:34,07:25:42,NaN,NaN,NaN,3.743937e+06,-1.932247e+07,3.744975e+06,-1.931966e+07
2,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_2,07:53:32,08:03:25,NaN,NaN,NaN,3.744868e+06,-1.929356e+07,3.744816e+06,-1.929284e+07
3,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_3,08:17:50,08:37:23,NaN,NaN,NaN,3.744880e+06,-1.929229e+07,3.744809e+06,-1.929049e+07
4,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_4,14:38:09,14:38:09,NaN,NaN,NaN,3.744909e+06,-1.928558e+07,3.744909e+06,-1.928558e+07
...,...,...,...,...,...,...,...,...,...,...,...
814257,ffffc6359725f0e1feac9ef1872ab207_11,traj_ffffc6359725f0e1feac9ef1872ab207_11_4,02:21:11,02:21:11,NaN,NaN,NaN,3.744666e+06,-1.925679e+07,3.744666e+06,-1.925679e+07
814258,ffffc6359725f0e1feac9ef1872ab207_11,traj_ffffc6359725f0e1feac9ef1872ab207_11_5,06:02:17,06:02:17,NaN,NaN,NaN,3.744732e+06,-1.925614e+07,3.744732e+06,-1.925614e+07
814259,ffffc6359725f0e1feac9ef1872ab207_11,traj_ffffc6359725f0e1feac9ef1872ab207_11_7,09:52:13,09:52:13,NaN,NaN,NaN,3.744666e+06,-1.925679e+07,3.744666e+06,-1.925679e+07
814260,ffffc6359725f0e1feac9ef1872ab207_11,traj_ffffc6359725f0e1feac9ef1872ab207_11_8,14:20:26,14:27:15,NaN,NaN,NaN,3.741043e+06,-1.929051e+07,3.741057e+06,-1.928936e+07
814261,ffffc6359725f0e1feac9ef1872ab207_11,traj_ffffc6359725f0e1feac9ef1872ab207_11_10,14:56:46,15:04:05,0.0,0.0,0.0,3.743948e+06,-1.923560e+07,3.744842e+06,-1.926218e+07

In [4]:
df.describe()

,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
count,256769.000000,256769.000000,270778.000000,8.142620e+05,8.142620e+05,8.142620e+05,8.142620e+05
mean,2.680249,2.279469,2.454799,3.760411e+06,-1.922153e+07,3.760426e+06,-1.922181e+07
std,7.591053,7.118452,7.160578,8.974393e+03,7.632234e+04,8.904451e+03,7.515560e+04
min,-1.000000,-1.000000,-1.000000,3.741027e+06,-1.938291e+07,3.740998e+06,-1.937688e+07
25%,0.000000,-1.000000,0.000000,3.755174e+06,-1.927454e+07,3.755359e+06,-1.927308e+07
50%,0.000000,0.000000,0.000000,3.760071e+06,-1.923020e+07,3.760076e+06,-1.923031e+07
75%,0.500000,0.220000,0.440000,3.767509e+06,-1.916999e+07,3.767455e+06,-1.917193e+07
max,162.000000,162.000000,162.000000,3.777099e+06,-1.904266e+07,3.777055e+06,-1.904666e+07

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814262 entries, 0 to 814261
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   hash           814262 non-null  object
 1   trajectory_id  814262 non-null  object
 2   time_entry     814262 non-null  object
 3   time_exit      814262 non-null  object
 4   vmax           256769 non-null  float64
 5   vmin           256769 non-null  float64
 6   vmean          270778 non-null  float64
 7   x_entry        814262 non-null  float64
 8   y_entry        814262 non-null  float64
 9   x_exit         814262 non-null  float64
 10  y_exit         814262 non-null  float64
dtypes: float64(7), object(4)
memory usage: 74.5+ MB

In [6]:
def custom_info(df, mode='all'):
    data_features = df.columns
    data_type = []
    null = []
    null_pct = []
    unique = []
    uniqueSample = []

    for item in data_features :
        data_type.append(str(df[item].dtype))
        null.append(sum(df[item].isnull()))
        null_pct.append(round(df[item].isna().sum()/len(df)*100,2))
        unique.append(df[item].nunique())
        uniqueSample.append(df[item].sample(3).values)

    desc = pd.DataFrame({
        'dataFeatures' : data_features,
        'dataType' : data_type,
        'null' : null,
        'nullPercentage' : null_pct,
        'unique' : unique,
        'uniqueSample' : uniqueSample
    })

    if mode == 'missing_values_only':
        desc = desc[desc.null>0].reset_index(drop=True).drop(['unique', 'uniqueSample'], axis=1)
    return desc

def to_sec(s):
    assert isinstance(s, str)
    r = tuple(int(x) for x in s.split(':'))
    assert len(r) == 3
    hours, mins, secs = r
    return hours*3600 + mins*60 + secs

In [7]:
custom_info(df, 'missing_values_only')

  dataFeatures dataType    null  nullPercentage
0         vmax  float64  557493           68.47
1         vmin  float64  557493           68.47
2        vmean  float64  543484           66.75

**Temuan :**
- Hanya ada 3 feature yang rownya berisi null value. Dan ketiganya berkaitan dengan velocity. Persentase null value dari ketiga feature ini lebih dari 66%. Oleh karenanya, feature ini nantinya tidak akan digunakan untuk pembuatan model.

### Feature Engineering

Di bagian ini, saya akan membuat fitur yang isinya berupa konversi waktu (pada entry dan juga exit) dari string ke hitungan detik (int) dan juga selisih waktu antara entry dan exit.

In [8]:
df['time_entry_secs'] = df['time_entry'].apply(to_sec)
df['time_exit_secs'] = df['time_exit'].apply(to_sec)
df['time_delta'] = df['time_exit_secs'] - df['time_entry_secs']

Sedangakan dibagian ini, saya menghitung selisih jarak antara entry point dan center point yang ada di daerah kota.

In [9]:
center_of_x = (3750901.5068+3770901.5068)/2
center_of_y = (-19268905.6133-19208905.6133)/2

df['x_entry_delta'] = df['x_entry'].apply(lambda x: x - center_of_x)
df['y_entry_delta'] = df['y_entry'].apply(lambda y: y - center_of_y)

Alasan mengapa selisih jarak antara `x_exit` dan `y_exit` ke `center_of_x` dan `center_of_y`, adalah karena `x_exit` dan `y_exit` adalah target.

### CV Score for a single target

Pada case ini, ada 2 fitur yang dijadikan target, yaitu `x_exit` dan `y_exit`. Namun untuk keperluan komparasi performa yang mana menentukan algoritma yang akan kita gunakan selanjutnya, kita akan menggunakan single target terlebih dahulu, yang mana adalah `x_exit`.

In [10]:
X = df[['x_entry','y_entry', 'time_entry_secs','time_exit_secs','time_delta', 'x_entry_delta', 'y_entry_delta']]
y = df['x_exit']

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

print ('Training Set: %d rows\nTest Set: %d rows' % (X_train.shape[0], X_test.shape[0]))

Training Set: 651409 rows
Test Set: 162853 rows

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
# from sklearn.ensemble import RandomForestRegressor // terlalu berat, "Kernel Died"
# from sklearn.ensemble import GradientBoostingRegressor // terlalu lama. lebih dari 50 menit. CV Score = 0.873138
from sklearn.model_selection import cross_val_score

def find_CVS(features,target,model, partition, scoring_system):
    X_train, X_test, y_train, y_test = train_test_split(features,target,random_state=42)
    classification = model()
    score = cross_val_score(classification,features, target, cv=partition, scoring=scoring_system).mean()
    return score

def cv_score_accumulation(algorithm_list, X, y, partition, scoring_system):
    cv_score = []
    notes_arr = []
    for i in algorithm_list :
        score = find_CVS(X,y,i, partition, scoring_system)
        cv_score.append(score)
        print(f"\rQueue: {i}")

    cv_df = pd.DataFrame({
        'Algorithm': algorithm_list,
        'CV Score': cv_score
    })
    return cv_df

In [13]:
algorithm_list = [LinearRegression, KNeighborsRegressor, DecisionTreeRegressor, XGBRegressor]
a = cv_score_accumulation(algorithm_list, X, y, 5, 'r2')
a

Queue: <class 'sklearn.linear_model._base.LinearRegression'>
Queue: <class 'sklearn.neighbors._regression.KNeighborsRegressor'>
Queue: <class 'sklearn.tree._classes.DecisionTreeRegressor'>
Queue: <class 'xgboost.sklearn.XGBRegressor'>

                                           Algorithm  CV Score
0  <class 'sklearn.linear_model._base.LinearRegre...  0.827313
1  <class 'sklearn.neighbors._regression.KNeighbo...  0.856570
2  <class 'sklearn.tree._classes.DecisionTreeRegr...  0.767281
3             <class 'xgboost.sklearn.XGBRegressor'>  0.880306

Dengan XGBRegressor yang memberikan CV Score 0.88, maka selanjutnya permodelan akan dibuat berdasarkan XGBRegressor.

**Catatan :**
Semula saya menggunakan 6 algoritma, yaitu LinearRegression, KNeighborsRegressor, DecisionTreeRegressor, GradientBoostingRegressor, RandomForestRegressor, XGBRegressor.
Namun RandomForestRegressor berulangkali failed (Kernel died). Dan GradientBoostingRegressor memerlukan lebih dari 50 menit untuk diselesaikan (CV score = 0.873138). Hal ini terlalu lama untuk di-reproduce. Oleh karenanya saya hanya memilih 4 algoritma untuk dikomparasi.

### Train model for multiple target (MultiOutputRegressor)

**Catatan :** Alasan khusus saya menggunakan `MultiOutputRegressor` daripada `RegressorChain` adalah sifat `RegressorChain` yang berantai (bertambah 1 feature dari target secara berulang, sampai dengan target bersisa 1) membuat train proses menjadi lama pada laptop saya yang cukup tua.

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import train_test_split

X = df[['x_entry','y_entry', 'time_entry_secs','time_exit_secs','time_delta', 'x_entry_delta', 'y_entry_delta']]
y = df[['x_exit', 'y_exit']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

# params = {
#     "eta": [0.10, 0.15, 0.3],
#     "max_depth": [ 3, 4, 5, 6, 8],
#     "min_child_weight": [ 1, 3, 5, 7],
#     "gamma":[ 0.0, 0.1, 0.2],
#     "colsample_bytree":[ 0.3, 0.4, 1],
# }

params = {
    "eta": [0.15, 0.3],
    "gamma":[0.0, 0.2],
    "max_depth": [6, 8],
}

gsc = GridSearchCV(
            estimator=XGBRegressor(),
            param_grid=params,
            cv=5, scoring='r2', verbose=1, n_jobs=-1)

grid_result = MultiOutputRegressor(gsc).fit(X_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed: 38.5min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed: 33.8min finished

In [15]:
grid_result.estimators_[0].best_params_

{'eta': 0.15, 'gamma': 0.0, 'max_depth': 8}

In [16]:
grid_result.estimators_[1].best_params_

{'eta': 0.15, 'gamma': 0.0, 'max_depth': 8}

In [17]:
grid_result

MultiOutputRegressor(estimator=GridSearchCV(cv=5,
                                            estimator=XGBRegressor(base_score=None,
                                                                   booster=None,
                                                                   colsample_bylevel=None,
                                                                   colsample_bynode=None,
                                                                   colsample_bytree=None,
                                                                   gamma=None,
                                                                   gpu_id=None,
                                                                   importance_type='gain',
                                                                   interaction_constraints=None,
                                                                   learning_rate=None,
                                                                   max_delta_step=None,
                                                                   max_depth=None,
                                                                   min_child_weight=None,
                                                                   missing=nan,
                                                                   monotone_constraints=None,
                                                                   n_estimators=100,
                                                                   n_jobs=None,
                                                                   num_parallel_tree=None,
                                                                   random_state=None,
                                                                   reg_alpha=None,
                                                                   reg_lambda=None,
                                                                   scale_pos_weight=None,
                                                                   subsample=None,
                                                                   tree_method=None,
                                                                   validate_parameters=None,
                                                                   verbosity=None),
                                            n_jobs=-1,
                                            param_grid={'eta': [0.15, 0.3],
                                                        'gamma': [0.0, 0.2],
                                                        'max_depth': [6, 8]},
                                            scoring='r2', verbose=1))